Generative_Art/N013_Gear_Spirals/Presentation/Problem solving using Mathematics & Programming.pptx
Generative_Art/N013_Gear_Spirals/Presentation/gargi.png
Generative_Art/N013_Gear_Spirals/Presentation/spiro.gif
Generative_Art/N013_Gear_Spirals/Presentation/Section wise code.txt
Nissan/CarPrice_Assignment.csv
GitPublic.code-workspace
Guess_the_street/Lat_Long.gif
Nissan/
Learn_ML/insurance.csv
Learn_ML/tvmarketing.csv
KS_Img_seg_OCR/vid3.mp4
Machine-Learning-with-Python-master/
*.jpg
Assignments/OCR_YOLO/test_Q1.pdf
Assignments/OCR_YOLO/Assessment_Quesions.docx
Assignments/OCR_YOLO/~$sessment_Quesions.docx
Assignments/OCR_YOLO/~WRL0003.tmp
