Generative_Art/N013_Gear_Spirals/Presentation/Problem solving using Mathematics & Programming.pptx
Generative_Art/N013_Gear_Spirals/Presentation/gargi.png
Generative_Art/N013_Gear_Spirals/Presentation/spiro.gif
Generative_Art/N013_Gear_Spirals/Presentation/Section wise code.txt
Nissan/CarPrice_Assignment.csv
GitPublic.code-workspace
Guess_the_street/Lat_Long.gif
Nissan/
Learn_ML/insurance.csv
Learn_ML/tvmarketing.csv